@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic);
/* #93B7BE -- Light blue */
/* #F1FFFA -- Mint Cream*/
/* #F49FBC -- Amaranth pink */
/* #D1AC00 -- Goled metallic */
/* #2E2F2F -- Jet */


:root, [data-bs-theme=light] {
  --bs-primary: #93B7BE !important; 
  --bs-secondary: #F49FBC;
  --bs-gold: #D1AC00;
  --bs-body-color: #2E2F2F;
  --bs-body-bg: white;
} 

blockquote{
  font-family: Open Sans;
}

.card-testimonial {
  background-color: #2E2F2F;
  color: white;
  border-radius: 50px;
  box-shadow: 0px 0px 0px 20px rgba(0,0,0,0.3)
}
blockquote::before{
  font-family: Arial;
  content: "\201C"; 
}

.tagcloud01 ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.tagcloud01 ul li {
	display: inline-block;
	margin: 0 .3em .3em 0;
	padding: 0;
}
.tagcloud01 ul li a {
	display: inline-block;
	max-width: 150px;
	height: 28px;
	line-height: 28px;
	padding: 0 1em;
	/* border: 1px solid #2E2F2F; */
	border-radius: 5px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	color: #2E2F2F;
	font-size: 18px;
	text-decoration: none;
	/* -webkit-transition: .2s; */
	/* transition: .2s; */
}
.tagcloud01 ul li a:hover {
	background-color: var(--bs-gold);
	border: 1px solid var(--bs-gold);
	color: #fff;
}

.chip {
  border: solid 1px;
  border-radius: 20%;
  padding: 5px;
  margin: 5px;

}

.gold-color {
  color: var(--bs-gold);
}

.gold-background {
  background-color: var(--bs-gold);
}

.link-secondary-custom {
  color: var(--bs-gold);

}
.chip.chip-md {
  height: 42px;
  line-height: 42px;
  border-radius: 21px;
}

.chip.chip-md .close {
  height: 42px;
  line-height: 42px;
  border-radius: 21px;
}
.center {
  text-align:center;
}
/* .nav-link { */
/*   color: var(--bs-gold); */
/* } */
.jumbotron-hero {
  height: 450px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./static/banner.jpg");
  /* -webkit-filter: blur(8px); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* border-bottom-left-radius: 50%; */
  /* border-bottom-right-radius: 160%; */
}

.carousel-inner {
  height: 0;
  padding-bottom: 75%;
}

.carousel-item {
  position: absolute !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.carousel-item img {
  height: 100%;
  object-fit:cover;
}

.jbt-text-hero {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.6); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  z-index: 2;
  padding: 20px;
  width: 80%;
  top: 70%;
  text-align: center;

}

.jbt-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.6); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  /* position: absolute; */
  /* transform: translate(-50%, -50%); */
  z-index: 2;
  /* padding: 20px; */
  text-align: center;
}
/* .primary-color { */
/*   background-color: var(--bs-primary); */
   /* border-color: var(--bs-primary); */ 
/* } */

button.primary-color {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);

}

button.secondary-color {
  background-color: var(--bs-secondary);
  border-color: var(--bs-secondary);

}

.btn:hover {
  background-color: #2E2F2F;
  color: white;
}

.btn:active {
  background-color: #2E2F2F;
  color: white;

}
.herotext{
  text-align: justify;
  width: 50%;
}
.jbleft{
  text-align: left;
}
.newsletter{
  text-align: right;
}


.blockquote{
  text-align: center;
}
body{
  font-family: 'Bacasime Antique', serif;
}
p{
  font-size: 20px;
}
.bg-quote{
  background-color: rgba(197, 197, 197, 0.322);
  text-overflow: ellipsis;
}

#page-footer{
  border-top: solid 1px var(--bs-body-color);
  font-size: 18px;
}
#page-footer ul{
  list-style-type: none;
}

#page-footer li a{
  color: grey;
  text-decoration: none;
}

#page-footer a:hover{
  text-decoration: underline;
}
